@{
    @model ChessStatistics.Models.Tournament
    ViewData["CurrentPage"] = "AddTournamentParticipants";
}

<h5 class="text-light"> Участники турнира </h5>
<table id="usersTable" class="table table-responsive-sm table-bordered table-hover table-dark regular-table">
    <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Рейтинг</th>
            <th scope="col">Звание</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in ViewBag.PlayersParticipaningInTournament)
        {
        <tr>
            <th scope="row">
                @player.FIO
            </th>
            <th scope="row">
                @player.Rating
            </th>
            <th scope="row">
                @player.Title
            </th>
        </tr>
        }
    </tbody>
</table>

@if (ViewBag.AutorizeUser != null && ViewBag.AutorizeUser.IsAdmin)
{
    <button class="btn btn-primary m-2" data-toggle="modal" data-target="#AddParticipant">
        Добавление участника
    </button>
}

<div class='modal fade' id='AddParticipant' tabindex="-1" role="dialog"
     aria-labelledby="createTournament" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content text-light bg-dark">
            <div class="modal-header ">
                <h5 class="modal-title " id="ModalLabel">Добавление участника</h5>
                <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form name="AddParticipant" method="post" enctype="multipart/form-data">
                        <input type="text" name="tournamentId" id="tournamentId" class="d-none" value="@Model.Id">
                        <div class="form-group">
                            <label for="Title">Выберите игрока</label>
                            <select id="playerId"
                                    name="playerId"
                                    class="form-control">
                                @{
                                    foreach (var player in ViewBag.PlayersNotParticipatingInTournament)
                                    {
                                        <option value="@player.Id">@player.FIO</option>
                                    }
                                }
                            </select>
                        </div>
                        <button asp-controller="Tournaments" asp-action="AddTournamentParticipants" method="post"
                                class="btn btn-primary m-2">
                            Сохранить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>