@{
    @model List<ChessStatistics.ViewModels.GameModel>
    ViewData["Title"] = "Cыгранные игры";
    ViewData["CurrentPage"] = "Games";
}
<div id="content" class="container justify-content-center">
    
<table id="gamesTable" class="table table-responsive-sm table-bordered table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Игрoк за белых</th>
            <th scope="col">Игрoк за черных</th>
            <th scope="col">Результат</th>
            <th scope="col">Дата</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var game in Model)
            {
                <tr>
                    <th scope="row">
                        <a asp-controller="Home" asp-action="Player" asp-route-idPlayer="@game.IdPlayerWhite">
                            <h3 class='text-success' id="userFIO">@game.PlayerWhite.FIO</h3>
                        </a>

                        @(game.RatingWhite + " " + game.RatingWhiteChange)
                    </th>
                    <td>
                        <a asp-controller="Home" asp-action="Player" asp-route-idPlayer="@game.IdPlayerBlack">
                            <h3 class='text-success' id="userFIO">@game.PlayerBlack.FIO</h3>
                        </a>

                        @(game.RatingBlack + " " + game.RatingBlackChange)
                    </td>
                    <td>@(game.GameResult == GameResult.WhiteWin ? "1-0" : game.GameResult == GameResult.Draw ? "1/2" : "0-1")</td>
                    <td>@game.Date</td>
                </tr>
            }
    </tbody>
</table>
</div>