@{
    @model List<ChessStatistics.ViewModels.GameModel>
    ViewData["Title"] = "Cыгранные игры";
    ViewData["CurrentPage"] = "Games";
}

<table id="gamesTable" class="table table-responsive-sm table-bordered table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Игрoк за белых</th>
            <th scope="col">Игрoк за черных</th>
            <th scope="col">Результат</th>
            <th scope="col">Дата</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gameModel in Model)
        {
            <tr>
                <th scope="row">
                    @gameModel.PlayerWhite.FIO
                    @(gameModel.RatingWhite + " " + gameModel.RatingWhiteChange)
                </th>
                <td>
                    @gameModel.PlayerBlack.FIO
                    @(gameModel.RatingBlack + " " + gameModel.RatingBlackChange)
                </td>
                <td>@(gameModel.GameResult == GameResult.WhiteWin ? "1-0" : gameModel.GameResult == GameResult.Draw ? "1/2" : "0-1")</td>
                <td>@gameModel.Date</td>
            </tr>
        }
    </tbody>
</table>
