@using ChessStatistics.ViewModels.PlayersPage
@{
    @model List<PlayerOnPagePlayersModel>
    ViewData["Title"] = "Игроки";
    ViewData["CurrentPage"] = "Players";
}
<style>
    body {
        background-color: #343a40;
        color: #fff;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;
        gap: 10px;
    }
    .filter-item {
        display: flex;
        flex-direction: column;
        flex: 1 1 calc(25% - 20px);
        gap: 5px;
    }
    .filters select, .filters input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #4a5057;
        appearance: none;
        font-size: 14px;
        color: #fff;
        flex: 1;
        min-width: 150px;
    }
    .filters select:focus, .filters input:focus {
        outline: none;
        border-color: #3498db;
    }
    .filters label {
        font-size: 14px;
        color: #fff;
    }
    h1 {
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
    }
    .player-card {
        background: #2c3e50;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 10px;
        overflow: hidden;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.2s;
        position: relative;
    }
    .player-card:hover {
        transform: translateY(-5px);
    }
    .player-card img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: 10px;
        object-fit: cover; 
        object-position: center; 
    }
    .player-info {
        padding: 10px;
        text-align: center;
        width: 100%;
    }
    .player-info h2 {
        margin: 0 0 10px;
        color: #ecf0f1;
        font-size: 18px;
    }
    .player-info p {
        margin: 5px 0;
        color: #3498db;
        font-size: 14px;
    }
    .player-info i {
        margin-right: 5px;
        color: #3498db;
    }
    .action-buttons {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 10px;
        padding: 5px 10px;
        gap: 5px;
    }
    .action-buttons button {
        background-color: #3498db;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 12px;
        transition: background-color 0.3s;
    }
    .action-buttons button:hover {
        background-color: #2980b9;
    }
    .edit-button {
        background-color: #4CAF50;
    }
    .edit-button:hover {
        background-color: #45a049;
    }
    .delete-button {
        background-color: #f44336;
    }
    .delete-button:hover {
        background-color: #d32f2f;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="emptySpace"></div>

    <div class="container justify-content-center">
        <h1>Игроки</h1>
        <div class="filters">
            <div class="filter-item">
                <label for="rankFilter">Разряд/Звание:</label>
                <select id="rankFilter">
                    <option value="all">Все</option>
                    <option value="fourth">Четвертый разряд</option>
                    <option value="third">Третий разряд</option>
                    <option value="second">Второй разряд</option>
                    <option value="first">Первый разряд</option>
                    <option value="candidate">Кандидат в мастера спорта</option>
                    <option value="master_fide">Мастер ФИДЕ</option>
                    <option value="international_master">Международный мастер</option>
                    <option value="grandmaster">Гроссмейстер</option>
                </select>
            </div>
            <div class="filter-item">
                <label for="blitzFilter">Рейтинг в блице:</label>
                <input type="text" id="blitzFilter" placeholder="Минимальный рейтинг" pattern="\d*" oninput="validateInput(this, 0, 3000)">
            </div>
            <div class="filter-item">
                <label for="rapidFilter">Рейтинг в рапиде:</label>
                <input type="text" id="rapidFilter" placeholder="Минимальный рейтинг" pattern="\d*" oninput="validateInput(this, 0, 3000)">
            </div>
            <div class="filter-item">
                <label for="classicFilter">Рейтинг в классике:</label>
                <input type="text" id="classicFilter" placeholder="Минимальный рейтинг" pattern="\d*" oninput="validateInput(this, 0, 3000)">
            </div>
        </div>
        
        @foreach (var player in Model)
        {
            <div class="player-card" data-rank="@player.Rank" data-blitz="@player.RatingBlitz" data-rapid="@player.RatingRapid" data-classic="@player.RatingClassic">
                <img src="data:image/jpeg;base64,@player.PhotoBase64" alt="Профиль" />
                <div class="player-info">
                    <h2>@player.FIO</h2>
                    <p><i class="fas fa-chess-pawn"></i> @player.RankOutput</p>
                    <p><i class="fas fa-tachometer-alt"></i> Блиц: @player.RatingBlitz</p>
                    <p><i class="fas fa-stopwatch"></i> Рапид: @player.RatingRapid</p>
                    <p><i class="fas fa-clock"></i> Классика: @player.RatingClassic</p>
                </div>
                <div class="action-buttons">
                    <form asp-controller="Home" asp-action="PersonalArea" asp-route-idPlayer="@player.IdPlayer">
                        <button class="details-button" idPlayer="@player.IdPlayer">Подробнее</button>
                    </form>
                   
                    <button type="button" class="edit-button editPlayer"
                        idPlayer="@player.IdPlayer"
                        fioPlayer="@player.FIO"
                        titlePlayer="@((int)player.Rank)"
                        ratingPlayerClassic="@player.RatingClassic"
                        ratingPlayerRapid="@player.RatingRapid"
                        ratingPlayerBlitz="@player.RatingBlitz"
                        data-toggle="modal" data-target="#editPlayer">
                        Редактировать
                    </button>

                    <button type="button" class="delete-button deletePlayer" 
                            idPlayer="@player.IdPlayer"
                            data-toggle="modal" data-target="#deletePlayer">
                            Удалить
                     </button>
                </div>
            </div>
        }
    @if (ViewBag.IsAdmin)
    {
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#createPlayer">Добавить</button>
    }
    </div>




<div class='modal fade' id='createPlayer' tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-light bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-info">Добавление игрока</h5>
                <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form asp-controller="Players" asp-action="CreatePlayer" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="FIO">Введите фамилию и имя</label>
                            <input type="text" id="FIO" name="FIO" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="Rank">Выберите разряд или звание</label>
                            <select id="Rank" name="Rank" class="form-control">
                                <option value="0">Без разряда</option>
                                <option value="1">4 разряд</option>
                                <option value="2">3 разряд</option>
                                <option value="3">2 разряд</option>
                                <option value="4">1 разряд</option>
                                <option value="5">КМС</option>
                                <option value="6">Мастер ФИДЕ</option>
                                <option value="7">Международный мастер</option>
                                <option value="8">Гроссмейстер</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="CurrentRating">Введите рейтинг игрока в классические шахматы</label>
                            <input type="number" id="CurrentRatingClassic" name="CurrentRatingClassic" class="form-control" step="0.1" min="400" required />
                        </div>
                        <div class="form-group">
                            <label for="CurrentRating">Введите рейтинг игрока в быстрые шахматы</label>
                            <input type="number" id="CurrentRatingRapid" name="CurrentRatingRapid" class="form-control" step="0.1" min="400" required />
                        </div>
                         <div class="form-group">
                            <label for="CurrentRating">Введите рейтинг игрока в блиц шахматы</label>
                            <input type="number" id="CurrentRatingBlitz" name="CurrentRatingBlitz" class="form-control" step="0.1" min="400" required />
                        </div>
                        <div class="form-group">
                            <label for="Photo">Загрузите фото</label>
                            <input type="file" id="Photo" name="Photo" class="form-control" accept="image/*" />
                        </div>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class='modal fade' id='editPlayer' tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-light bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-info">Редактирование игрока</h5>
                <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form asp-controller="Players" asp-action="EditPlayer" method="post">
                        <input id="IdPlayerEdit" name="IdPlayer" class="d-none">
                        <div class="form-group">
                            <label for="FIOEdit">Введите фамилию и имя</label>
                            <input type="text" id="FIOEdit" name="FIO" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="TitlePlayerEdit">Выберите ваш разряд или звание</label>
                            <select id="TitlePlayerEdit" name="Rank" class="form-control">
                                <option value="0">Без разряда</option>
                                <option value="1">4 разряд</option>
                                <option value="2">3 разряд</option>
                                <option value="3">2 разряд</option>
                                <option value="4">1 разряд</option>
                                <option value="5">КМС</option>
                                <option value="6">Мастер ФИДЕ</option>
                                <option value="7">Международный мастер</option>
                                <option value="8">Гроссмейстер</option>
                            </select>
                        </div>
                         <div class="form-group">
                            <label for="CurrentRating">Введите рейтинг игрока в классические шахматы</label>
                            <input type="number" id="CurrentRatingClassicEdit" name="CurrentRatingClassic" class="form-control" step="0.1" min="400" required />
                        </div>
                        <div class="form-group">
                            <label for="CurrentRating">Введите рейтинг игрока в быстрые шахматы</label>
                            <input type="number" id="CurrentRatingRapidEdit" name="CurrentRatingRapid" placeholder="Рейтинг игрока в быстрые шахматы" class="form-control" pattern="\d*" oninput="validateInput(this, 0, 3000)"/>
                        </div>
                         <div class="form-group">
                            <label for="CurrentRating">Введите рейтинг игрока в блиц шахматы</label>
                            <input type="number" id="CurrentRatingBlitzEdit" name="CurrentRatingBlitz" class="form-control" step="0.1" min="400" required />
                        </div>
                        <div class="form-group">
                            <label for="Photo">Загрузите фото</label>
                            <input type="file" id="Photo" name="Photo" class="form-control" accept="image/*" />
                        </div>
                        <button type="submit" class="btn btn-primary">Применить изменения</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class='modal fade' id='deletePlayer' tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-light bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Удаление игрока</h5>
                <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-danger">Вы уверены, что хотите удалить игрока?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <form id="deletePlayerForm" method="post">
                    <button type="submit" class="btn btn-primary">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="emptySpace"></div>
<script>
    
   function validateInput(input, min, max) {
    if (input.value === '') {
        return; // Если значение пустое, ничего не делаем
    }
    let value = parseFloat(input.value);
    if (isNaN(value)) {
        input.value = ''; // Если значение не является числом, очищаем поле
    } else if (value < min) {
        input.value = min;
    } else if (value > max) {
        input.value = max;
    }
}
</script>
<script src="~/js/players.js"></script>