@{
    @model ChessStatistics.ViewModels.TournamentModel
    ViewData["CurrentPage"] = "Tournament";
}

<div class="bd-example">
    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="player-tab" data-bs-toggle="tab" data-bs-target="#players" type="button" role="tab" aria-controls="players" aria-selected="true">Игроки</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tour-tab" data-bs-toggle="tab" data-bs-target="#tours" type="button" role="tab" aria-controls="tours" aria-selected="false">Туры</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="result-tab" data-bs-toggle="tab" data-bs-target="#results" type="button" role="tab" aria-controls="results" aria-selected="false">Итоги</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active show" id="players" role="tabpanel" aria-labelledby="players-tab">
            <h5 class="text-light"> Участники турнира </h5>
            <table id="usersParticipatingInTournamentTable" class="table table-responsive-sm table-bordered table-hover table-dark regular-table">
                <thead>
                    <tr>
                        <th scope="col">ФИО</th>
                        <th scope="col">Рейтинг</th>
                        <th scope="col">Звание</th>
                    </tr>
                </thead>
                <tbody id="PlayersParticipatingInTournament">
                    @foreach (var player in ViewBag.PlayersParticipaningInTournament)
                    {
                        <tr>
                            <th scope="row">
                                @player.FIO
                            </th>
                            <th scope="row">
                                @player.Rating
                            </th>
                            <th scope="row">
                                @player.Title
                            </th>
                        </tr>
                    }
                </tbody>
            </table>

            @if (ViewBag.AutorizeUser != null && ViewBag.AutorizeUser.IsAdmin)
            {
                <button class="btn btn-primary m-2" data-toggle="modal" data-target="#AddParticipant">
                    Добавление участника
                </button>
            }

            <div class='modal fade' id='AddParticipant' tabindex="-1" role="dialog"
                 aria-labelledby="createTournament" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered " role="document">
                    <div class="modal-content text-light bg-dark">
                        <div class="modal-header ">
                            <h5 class="modal-title " id="ModalLabel">Добавление участника</h5>
                            <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <form name="AddParticipant">
                                    <input type="text" name="tournamentId" id="tournamentId" class="d-none" value="@Model.IdTournament">
                                    <div class="form-group">
                                        <label for="Title">Выберите игрока</label>
                                        <select id="playerId"
                                                name="playerId"
                                                class="form-control">
                                            @{
                                                foreach (var player in ViewBag.PlayersNotParticipatingInTournament)
                                                {
                                                    <option id="@player.Id" value="@player.Id">@player.FIO</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <button class="btn btn-primary m-2">
                                        Добавить
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tours" role="tabpanel" aria-labelledby="tours-tab">
            <h5 class="text-light"> Туры </h5>

            @if(Model.TournamentDrawModel.Tours.Count == 0)
            {
                <form name="GeneratingTournamentDraw">
                    <button id="GenerateTournamentDraw" type="submit">
                        Cгенерировать жеребьевку
                    </button>
                </form>
            }
                        
            <nav>
                <div class="nav nav-tabs centered justify-content-center" id="nav-tabTours" role="tablist">
                    @if (Model.TournamentDrawModel.Tours.Count != 0)
                    {
                        for (int i = 0; i < Model.TournamentDrawModel.Tours.Count; i++)
                        {
                            <button class="nav-link" id="nav-tour@(i+1)-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-tour@(i + 1)" type="button" role="tab" aria-controls="nav-tour@(i+1)"
                                    aria-selected="true">
                                Тур @(i + 1)
                            </button>
                        }
                    }
                    
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent2" justify-content-center>
                @if (Model.TournamentDrawModel.Tours.Count != 0)
                {
                    for (int i = 0; i < Model.TournamentDrawModel.Tours.Count; i++)
                    {
                        <div class="tab-pane fade show" id="nav-tour@(i+1)" role="tabpanel" aria-labelledby="nav-tour@(i+1)-tab">
                            <div class="d-flex justify-content-center">
                                <table id="usersParticipatingInTournamentTable" class="table table-responsive-sm table-bordered table-hover table-dark regular-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Белые</th>
                                            <th scope="col">Очки</th>
                                            <th scope="col">Результат</th>
                                            <th scope="col">Очки</th>
                                            <th scope="col">Черные</th>
                                        </tr>
                                    </thead>
                                    <tbody id="PlayersParticipatingInTournament">
                        @for (int j = 0; j < Model.TournamentDrawModel.Tours[i].Games.Count; j++)
                        {
                                            <tr>
                                                <th scope="row">
                                                    @(j+1)
                                                </th>
                                                <th scope="row" id="Tour@(Model.TournamentDrawModel.Tours[i].Id)Game@(Model.TournamentDrawModel.Tours[i].Games[j].Id)PlayerWhiteFIO">
                                                    @(Model.TournamentDrawModel.Tours[i].Games[j].PlayerWhite.FIO + "\n")
                                                    @(Model.TournamentDrawModel.Tours[i].Games[j].RatingWhite) 
                                                    @(Model.TournamentDrawModel.Tours[i].Games[j].RatingWhiteChange)
                                                </th>
                                                <th scope="row" id="Tour@(Model.TournamentDrawModel.Tours[i].Id)Game@(Model.TournamentDrawModel.Tours[i].Games[j].Id)PlayerWhiteScore">
                                                    1
                                                </th>
                                                <th scope="row">
                                                    <select id="Tour@(Model.TournamentDrawModel.Tours[i].Id)Game@(Model.TournamentDrawModel.Tours[i].Games[j].Id)GameResult"
                                                        name="GameResult"
                                                        idGame="@Model.TournamentDrawModel.Tours[i].Games[j].Id"
                                                        class="form-control gameResultSelect">
                                                        @if (!Model.TournamentDrawModel.Tours[i].Games[j].DidTheGamePassed)
                                                        {
                                                            <option selected disabled>Заполнить</option>
                                                            <option value="0">1-0</option>
                                                            <option value="1">1/2</option>
                                                            <option value="2">0-1</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="0" selected="@(Model.TournamentDrawModel.Tours[i].Games[j].GameResult == GameResult.WhiteWin)">1-0</option>
                                                            <option value="1" selected="@(Model.TournamentDrawModel.Tours[i].Games[j].GameResult == GameResult.Draw)">1/2</option>
                                                            <option value="2" selected="@(Model.TournamentDrawModel.Tours[i].Games[j].GameResult == GameResult.BlackWin)">0-1</option>
                                                        }
    
                                                        </select>

                                                </th>
                                                <th scope="row" id="Tour@(Model.TournamentDrawModel.Tours[i].Id)Game@(Model.TournamentDrawModel.Tours[i].Games[j].Id)PlayerBlackScore">
                                                    2
                                                </th>
                                                <th scope="row" id="Tour@(Model.TournamentDrawModel.Tours[i].Id)Game@(Model.TournamentDrawModel.Tours[i].Games[j].Id)PlayerBlackFIO">
                                                    @(Model.TournamentDrawModel.Tours[i].Games[j].PlayerBlack.FIO + "\n")
                                                    @(Model.TournamentDrawModel.Tours[i].Games[j].RatingBlack)
                                                    @(Model.TournamentDrawModel.Tours[i].Games[j].RatingBlackChange)
                                                </th>
                                            </tr>
                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="tab-pane fade" id="results" role="tabpanel" aria-labelledby="results-tab">
            <p><strong>Это некий заполнитель содержимого, связанного с содержимым вкладки "Контакт".</strong> Щелчок по другой вкладке переключает видимость этой на следующую. Вкладка JavaScript меняет местами классы для управления видимостью и стилем содержимого. Вы можете использовать его с вкладками, таблетками и любой другой навигацией с поддержкой <code>.nav</code>.</p>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"> </script>
<script src="~/js/tournament.js"></script>






