@{
    @model List<ChessStatistics.ViewModels.TournamentModel>
    ViewData["Title"] = "Турниры";
    ViewData["CurrentPage"] = "Tournaments";
}
<div class="container justify-content-center">
<table id="playersTable" class="table table-responsive-sm table-bordered table-hover table-dark ">
    <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Дата начала турнира</th>
            <th scope="col">Тип турнира</th>
            <th scope="col">Рейтинг турнира</th>
            <th scope="col">Количество туров</th>
            @if(ViewBag.IsAdmin)
            {
                    <th scope="col">Редактировать</th>
                    <th scope="col">Удалить</th>
            }
                
            <th scope="col">Перейти к странице турнира</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tournament in Model)
        {
        <tr>
            <th scope="row">
                @tournament.TournamentName
            </th>
            <td>
                @tournament.DateStart.ToString("dd.MM.yyyy")
            </td>
            <td>@tournament.GetTournamentType()</td>
            <td>@tournament.GetRatingType()</td>
            <td>@tournament.CountTours</td>

                    @if (ViewBag.IsAdmin)
                    {
                        <td>
                            <button class="btn btn-danger editTournament"
                                    tournamentId="@tournament.IdTournament"
                                    tournamentName="@tournament.TournamentName"
                                    tournamentDateStart="@tournament.DateStart.ToString("yyyy-MM-dd")"
                                    tournamentType="@((int)tournament.TournamentType)"
                                    ratingType="@((int)tournament.RatingType)"
                                    tournamentCountTours="@tournament.CountTours"
                                    data-toggle="modal" data-target="#editTournament">
                                Редактировать
                            </button>
                        </td>

                        <td>
                            <button class="btn btn-danger deleteTournament"
                                    tournamentId="@tournament.IdTournament"
                                    tournamentName="@tournament.TournamentName"
                                    data-toggle="modal" data-target="#deleteTournament">
                                Удалить
                            </button>
                        </td>
                        
                    }
                    
            <td>
                <form asp-controller="Home" asp-action="Tournament" asp-route-idTournament="@tournament.IdTournament">
                    <button class="btn btn-primary" idTournament="@tournament.IdTournament">Перейти</button>
                </form>
            </td>
        </tr>
            
    }
        </tbody>
    </table>

<div class='modal fade' id='createTournament' tabindex="-1" role="dialog"
     aria-labelledby="createTournament" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content text-light bg-dark">
            <div class="modal-header ">
                <h5 class="modal-title " id="ModalLabel">Создание турнира</h5>
                <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form name="creatingTournament" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="nameCollection">Введите название турнира</label>
                            <input type="text" name="TournamentName" class="form-control" id="tournamentName"
                                   placeholder="Название турнира">
                        </div>

                        <label for="description">Дата начала турнира</label>
                        <div class="form-group">
                            <input type="date"
                                   id="DateStart"
                                   name="dateStart"
                                   class="form-control"/>
                        </div>
                        
                        <div class="form-group">
                                <label for="description">Тип турнира</label>
                            <select id="TournamentType"
                                    name="TournamentType"
                                    class="form-control">
                                <option value="0">Круговая система</option>
                                <option value="1">Швейцарская система</option>
                            </select>
                        </div>

                            <div class="form-group" id="countToursAddTournament">
                                <label for="description">Количество туров</label>
                                <input type="number"
                                       id="countTours"
                                       name="countTours"
                                       class="form-control" />
                            </div>
                           
                            <div class="form-group">
                                <label for="description">Контроль времени</label>
                                <select id="RatingType"
                                        name="RatingType"
                                        class="form-control">
                                    <option value="0">Блиц</option>
                                    <option value="1">Рапид</option>
                                    <option value="2">Классика</option>
                                </select>
                            </div>
                       
                        <button asp-controller="Tournaments" asp-action="CreateTournament"
                                class="btn btn-primary m-2">
                            Сохранить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class='modal fade' id='editTournament' tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content text-light bg-dark">
                <div class="modal-header ">
                    <h5 class="modal-title text-info">Редактирование турнира</h5>
                    <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form asp-controller="Tournaments" asp-action="EditTournament" method="post">
                            <input id="IdTournamentEdit" name="idTournament" class="d-none">
                            <div class="form-group">
                                <label for="nameCollection">Введите название турнира</label>
                                <input type="text" id="TournamentNameEdit" name="TournamentName" class="form-control"
                                       placeholder="Название турнира">
                            </div>

                            <label for="description">Дата начала турнира</label>
                            <div class="form-group">
                                <input type="date"
                                       id="DateStartEdit"
                                       name="dateStart"
                                       class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="description">Тип турнира</label>
                                <select id="TournamentTypeEdit"
                                        name="TournamentType"
                                        class="form-control">
                                    <option value="0">Круговая система</option>
                                    <option value="1">Швейцарская система</option>
                                </select>
                            </div>

                            <div class="form-group" id="countToursEditTournament">
                                <label for="description">Количество туров</label>
                                <input type="number"
                                       id="countToursEdit"
                                       name="countTours"
                                       class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="description">Контроль времени</label>
                                <select id="RatingTypeEdit"
                                        name="RatingType"
                                        class="form-control">
                                    <option value="0">Блиц</option>
                                    <option value="1">Рапид</option>
                                    <option value="2">Классика</option>
                                </select>
                            </div>
                            
                            

                            <button type="submit" class="btn btn-primary">
                                Применить изменения
                            </button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <div class='modal fade' id='deleteTournament' tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content text-light bg-dark">
                <div class="modal-header ">
                    <h5 class="modal-title text-danger">Удаление турнира</h5>
                    <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="beforeDeleteTournamentText" class="text-danger"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <form id="deleteTournamentForm" method="post" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-primary">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @if (ViewBag.IsAdmin)
{ 
    <button class="btn btn-primary m-2" data-toggle="modal" data-target="#createTournament">
        Создание турнира
    </button>
}
</div>

<script src="~/js/tournaments.js"></script>