@{
    @model ChessStatistics.ViewModels.TournamentsPage.InformationOnPageTournamentsModel
    ViewData["Title"] = "Турниры";
    ViewData["CurrentPage"] = "Tournaments";
}
 <style>
    body {
        background-color: #343a40;
        color: #fff;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h1 {
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
        width: 100%;
    }
    .filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
        width: 100%;
    }
    .filters select, .filters input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #4a5057;
        appearance: none;
        font-size: 14px;
        color: #fff;
        flex: 1;
        min-width: 150px;
    }
    .filters select:focus, .filters input:focus {
        outline: none;
        border-color: #ff6347;
    }
    .filters label {
        margin-right: 10px;
        font-size: 14px;
        color: #fff;
    }
    .tournament-card {
        background: #2c3e50;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 10px;
        overflow: hidden;
        width: 773px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: transform 0.2s;
        position: relative;
        height: auto; /* Установим автоматическую высоту */
        padding-bottom: 20px; /* Добавим отступ для кнопок */
    }
    .tournament-card:hover {
        transform: translateY(-5px);
    }
    .tournament-header {
        display: flex;
        justify-content: center; /* Центрируем содержимое по горизонтали */
        width: 100%;
        position: relative; /* Добавляем position: relative для абсолютного позиционирования изображения */
    }
    .tournament-header h2 {
        margin: 0;
        color: #ecf0f1;
        font-size: 30px;
        text-align: center; /* Центрируем текст внутри h2 */
        width: 100%; /* Задаем ширину 100%, чтобы текст занимал всю доступную ширину */
        margin-bottom: 30px; /* Добавляем отступ снизу */
    }
    .tournament-info {
        padding: 10px;
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .tournament-details {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .tournament-details-left, .tournament-details-right {
        width: 48%;
    }
    .tournament-info p {
        margin: 5px 0;
        color: #3498db;
        font-size: 14px;
    }
    .tournament-info i {
        margin-right: 5px;
        color: #3498db;
    }
    .tournament-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        margin-bottom: -20px;
        background-color: #2c3e50;
    }
    .details-button, .edit-button, .delete-button {
        background-color: #3498db;
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s;
    }
    .details-button:hover, .edit-button:hover, .delete-button:hover {
        background-color: #2980b9;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="emptySpace"></div>
<div class="container justify-content-center">
    <div class="container">
        <h1>Расписание турниров</h1>
        <div class="filters">
            <select type="" id="statusFilter">
                <option value="all">Все турниры</option>
                <option value="Current">Текущие</option>
                <option value="Planned">Планируемые</option>
                <option value="Past">Прошедшие</option>
            </select>
            <select id="typeFilter">
                <option value="all">Все</option>
                <option value="Online">Онлайн</option>
                <option value="Offline">Офлайн</option>
            </select>
            <select id="cityFilter">
                <option value="all">Все города</option>
                @foreach (var city in Model.Cities)
                {
                    <option value="@city">@city</option>
                }
           
            </select>
            <input type="number" id="ratingFilter" placeholder="Максимальный рейтинг (до)" pattern="\d*" onchange="validateInput(this, 0, 3000)">
        </div>

        @foreach (var tournament in Model.TournamentModels)
        {
            <div class="text-light tournament-card" data-status="@tournament.TournamentFilter.DateStatus"
                                                    data-type="@tournament.TournamentFilter.OnlineOrOffline"
                                                    data-city="@(tournament.TournamentFilter.City)"
                                                    data-rating="@tournament.TournamentFilter.MaxRating"
                                                    data-age="@tournament.TournamentFilter.MaxAge">
                <div class="tournament-info">
                    <div class="tournament-header">
                        <h2>@tournament.TournamentName</h2>
                    </div>
                    <div class="tournament-details">
                        <div class="tournament-details-left">
                            <p><i class="far fa-calendar-alt"></i>Дата начала турнира: @tournament.DateStart</p>
                            <p><i class="far fa-calendar-alt"></i>Дата окончания турнира: @tournament.DateFinish</p>
                            <p><i class="fas fa-trophy"></i>@tournament.TournamentTypeOutput</p>
                            <p><i class="fas fa-list-ol"></i>Количество туров: @tournament.CountTours</p>
                            <p><i class="fas fa-star"></i>Контроль времени в турнире: @tournament.RatingType</p>
                        </div>
                        <div class="tournament-details-right">
                            @if (tournament.TournamentFilter.OnlineOrOffline == ChessStatistics.Models.Enum.OnlineOrOffline.Offline)
                            {
                                <p><i class="fas fa-map-marker-alt"></i>Место проведения: @tournament.City @tournament.Address</p>
                            }
                            else
                            {
                                <p><i class="fas fa-laptop"></i>@tournament.Platform</p>
                            }
                            <p><i class="fas fa-link"></i>Ссылка на информацию о турнире: @tournament.TournamentLink</p>

                            <p><i class="fas fa-child"></i>@tournament.MaxAgeOutput</p>
                            <p><i class="fas fa-star-half-alt"></i>@(tournament.MaxRatingOutput)</p>
                            <p><i class="fas fa-users"></i>Максимальное количество участников: @tournament.MaxCountPlayers</p>
                        </div>
                    </div>
                </div>
                <div class="tournament-buttons">
                    <form asp-controller="Home" asp-action="Tournament" asp-route-idTournament="@tournament.IdTournament">
                        <button class="details-button" idTournament="@tournament.IdTournament">Подробнее</button>
                    </form>
                    @if (ViewBag.AutorizeUser != null && ViewBag.AutorizeUser.IsAdmin)
                    {
                        <button type="button" class="edit-button editTournament"
                                tournamentId="@tournament.IdTournament"
                                tournamentName="@tournament.TournamentName"
                                tournamentDateStart="@tournament.DateStartForAttribute"
                                tournamentDateFinish="@tournament.DateFinishForAttribute"
                                tournamentType="@((int)tournament.TournamentType)"
                                ratingType="@((int)tournament.RatingType)"
                                tournamentCountTours="@tournament.CountTours"
                                tournamentCity="@tournament.City"
                                tournamentAdress="@tournament.Address"
                                tournamentStatus="@((int)tournament.TournamentFilter.OnlineOrOffline)"
                                tournamentPlatform="@tournament.Platform"
                                tournamentLink="@tournament.TournamentLink"
                                tournamentMinYear="@tournament.MinYear"
                                tournamentMaxRating="@tournament.TournamentFilter.MaxRating"
                                tournamentMaxCountPlayers="@tournament.MaxCountPlayers"
                                tournamentIsPlatformCalculated="@tournament.IsPlatformCalculated.ToString()"
                                tournamentCost="@((int)tournament.Cost)"
                                data-toggle="modal" data-target="#editTournament">
                            Редактировать
                        </button>
                        <button type="button" class="delete-button deleteTournament"
                                tournamentId="@tournament.IdTournament"
                                tournamentName="@tournament.TournamentName"
                                data-toggle="modal" data-target="#deleteTournament">
                            Удалить
                        </button>
                    }
                </div>
            </div>
        }
    </div>

    <div class='modal fade' id='createTournament' tabindex="-1" role="dialog" aria-labelledby="createTournament" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-light bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Создание турнира</h5>
                    <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form name="creatingTournament" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="tournamentName">Введите название турнира</label>
                                <input type="text" name="TournamentName" class="form-control" id="tournamentName" placeholder="Название турнира" required>
                            </div>
                            <div class="form-group">
                                <label for="DateStart">Дата начала турнира</label>
                                <input type="date" id="DateStart" name="dateStart" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="DateStart">Дата начала турнира</label>
                                <input type="date" id="DateFinish" name="DateFinish" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="TournamentType">Тип турнира</label>
                                <select id="TournamentType" name="TournamentType" class="form-control">
                                    <option value="0">Круговая система</option>
                                    <option value="1">Швейцарская система</option>
                                </select>
                            </div>
                            <div class="form-group" id="countToursAddTournament" style="display:none">
                                <label for="countTours">Количество туров</label>
                                <input type="number" id="countTours" name="countTours" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="RatingType">Контроль времени</label>
                                <select id="RatingType" name="RatingType" class="form-control">
                                    <option value="0">Блиц</option>
                                    <option value="1">Рапид</option>
                                    <option value="2">Классика</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label for="address">Город</label>
                                <input type="text" id="City" name="City" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="address">Адрес</label>
                                <input type="text" id="Address" name="Address" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="status">Статус турнира</label>
                                <select id="OnlineOffline" name="OnlineOffline" class="form-control" required>
                                    <option value="online">Online</option>
                                    <option value="offline">Offline</option>
                                </select>
                            </div>
                            <div class="form-group" id="platformGroup">
                                <label for="platform">Платформа</label>
                                <select id="Platform" name="Platform" class="form-control">
                                    <option value="lichess">Lichess</option>
                                    <option value="chesscom">ChessCom</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="tournamentLink">Ссылка на турнир</label>
                                <input type="text" id="TournamentLink" name="TournamentLink" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="minYear">Минимальный год рождения</label>
                                <input type="number" id="MinYear" name="MinYear" class="form-control" min="1900" max="2024" value="1900" />
                            </div>
                            <div class="form-group">
                                <label for="maxRating">Максимальный рейтинг</label>
                                <input type="number" id="MaxRating" name="MaxRating" class="form-control" min="0" max="3300" value="3300" />
                            </div>
                            <div class="form-group">
                                <label for="maxParticipants">Максимальное количество участников</label>
                                <input type="number" id="MaxCountPlayers" name="MaxCountPlayers" class="form-control" min="0" max="500" value="500" />
                            </div>
                            <div class="form-group">
                                <label for="isPlatformCalculated">Обсчитывается турнир с помощью платформы</label>
                                <select id="IsPlatformCalculated" name="IsPlatformCalculated" class="form-control">
                                    <option value="True">Да</option>
                                    <option value="False">Нет</option>
                                </select>
                            </div>

                            <div class="form-group" id="Сost">
                                <label for="cost">Платный или бесплатный</label>
                                <select id="Cost" name="Cost" class="form-control">
                                    <option value="0">Бесплатный</option>
                                    <option value="1">Платный</option>
                                </select>
                            </div>

                            <button asp-controller="Tournaments" asp-action="CreateTournament" class="btn btn-primary m-2">
                                Сохранить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='modal fade' id='editTournament' tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-light bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title text-info">Редактирование турнира</h5>
                    <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form asp-controller="Tournaments" asp-action="EditTournament" method="post">
                            <input id="IdTournamentEdit" name="idTournament" class="d-none">
                            <div class="form-group">
                                <label for="TournamentNameEdit">Введите название турнира</label>
                                <input type="text" id="TournamentNameEdit" name="TournamentName" class="form-control" placeholder="Название турнира" required>
                            </div>
                            <div class="form-group">
                                <label for="DateStartEdit">Дата начала турнира</label>
                                <input type="date" id="DateStartEdit" name="dateStart" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="DateFinishEdit">Дата начала турнира</label>
                                <input type="date" id="DateFinishEdit" name="DateFinish" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="TournamentTypeEdit">Тип турнира</label>
                                <select id="TournamentTypeEdit" name="TournamentType" class="form-control">
                                    <option value="0">Круговая система</option>
                                    <option value="1">Швейцарская система</option>
                                </select>
                            </div>
                            <div class="form-group" id="countToursEditTournament">
                                <label for="countToursEdit">Количество туров</label>
                                <input type="number" id="countToursEdit" name="countTours" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="RatingTypeEdit">Контроль времени</label>
                                <select id="RatingTypeEdit" name="RatingType" class="form-control">
                                    <option value="0">Блиц</option>
                                    <option value="1">Рапид</option>
                                    <option value="2">Классика</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="cityEdit">Город</label>
                                <input type="text" id="cityEdit" name="city" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="addressEdit">Адрес</label>
                                <input type="text" id="addressEdit" name="address" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="statusEdit">Статус турнира</label>
                                <select id="statusEdit" name="OnlineOffline" class="form-control" required>
                                    <option value="0">Online</option>
                                    <option value="1">Offline</option>
                                </select>
                            </div>
                            <div class="form-group" id="platformGroupEdit">
                                <label for="platformEdit">Платформа</label>
                                <select id="platformEdit" name="platform" class="form-control">
                                    <option value="lichess">Lichess</option>
                                    <option value="chesscom">ChessCom</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="tournamentLinkEdit">Ссылка на турнир</label>
                                <input type="text" id="tournamentLinkEdit" name="tournamentLink" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="minYearEdit">Минимальный год рождения</label>
                                <input type="number" id="minYearEdit" name="minYear" class="form-control" min="1900" max="2024" value="1900" />
                            </div>
                            <div class="form-group">
                                <label for="maxRatingEdit">Максимальный рейтинг</label>
                                <input type="number" id="maxRatingEdit" name="maxRating" class="form-control" min="0" max="3300" value="3300" />
                            </div>
                            <div class="form-group">
                                <label for="maxParticipantsEdit">Максимальное количество участников</label>
                                <input type="number" id="maxParticipantsEdit" name="MaxCountPlayers" class="form-control" min="0" max="500" value="500" />
                            </div>

                            <div class="form-group">
                            <label for="isPlatformCalculated">Обсчитывается турнир с помощью платформы</label>
                            <select id="isPlatformCalculatedEdit" name="IsPlatformCalculated" class="form-control">
                                <option value="True">Да</option>
                                <option value="False">Нет</option>
                            </select>
                        </div>

                        <div class="form-group" id="Cost">
                            <label for="cost">Платный или бесплатный</label>
                            <select id="CostEdit" name="Cost" class="form-control">
                                <option value="0">Бесплатный</option>
                                <option value="1">Платный</option>
                            </select>
                        </div>

                            <button type="submit" class="btn btn-primary">
                                Применить изменения
                            </button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <div class='modal fade' id='deleteTournament' tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-light bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Удаление турнира</h5>
                    <button class="close autorization" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="beforeDeleteTournamentText" class="text-danger"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <form id="deleteTournamentForm" method="post" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-primary">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        @if (ViewBag.IsAdmin)
        {
            <button class="btn btn-primary m-2" data-toggle="modal" data-target="#createTournament">
                Создание турнира
            </button>
        }
    </div>
</div>
<div class="emptySpace"></div>
<script src="~/js/tournaments.js"></script>